
Python/Iniciante/.idea/Iniciante.iml
Python/Iniciante/.idea/inspectionProfiles/profiles_settings.xml
Python/Iniciante/.idea/misc.xml
Python/Iniciante/.idea/modules.xml
Python/Iniciante/.idea/workspace.xml
